.flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: flex-start;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item {
    padding: 20px;
}

.contact-link {
    text-decoration: none;
}

.contact {
    text-decoration: underline;
    margin-right: 7px;
}

.social-icon {
    font-size: 20px;
}

.top {
    min-height: 70px;
}

.max-width {
    max-width: 300px;
}

.top-padding {
    padding-top: 20px;
}

.footer-logo {
    padding: 25px 15px 30px 15px;
    background-color: #0300b3;
    border-radius: 5px;
}

.query {
    margin-top: 35px;
    margin-bottom: 15px;
}
