.main-content {
    min-height: calc(100vh - 9.5vh);
}

.home-section {
    position: relative;
    left: 250px;
    height: 100%;
    width: calc(100% - 250px);
    transition: all 0.6s ease;
    z-index: 10;
}

.home-section.dilate {
    left: 83px;
    width: calc(100% - 83px);
}