<div class="auth_content">
    <div class="title">Login</div>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="form">
        <div>
            <input type="text" (keyup)="onKeyUp('username')" (change)="setEmailPhoneValidator()" class="form_input"
                placeholder="Email or mobile number" formControlName="username">
            <div *ngIf="submitted && f.username.errors" class="error-text">
                <div *ngIf="f.username.errors.required">Email or Mobile number is required</div>
                <div *ngIf="f.username.errors.email">Please enter a valid email address</div>
                <div *ngIf="f.username.errors.minlength || f.username.errors.maxlength">Mobile number must contain
                    10 digits</div>
            </div>
            <div class="error-text" *ngIf="loginResponseType === 'invalidUser'">Email does not exists.</div>
        </div>
        <div>
            <input type="password" (keyup)="onKeyUp('pass')" placeholder="Password" formControlName="password"
                class="form_input">
            <div *ngIf="submitted && f.password.errors" class="error-text">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be atleast 6 characters long</div>
            </div>
            <div class="error-text" *ngIf="loginResponseType === 'incorrectPassword'">Password is incorrect.</div>
        </div>
        <button class="button" type="submit">{{!isProcessing?'Submit':'Processing...'}}</button>
    </form>
    <div><a class="link" routerLink="/auth/forget-password">Forget Password?</a></div>
    <div>Haven't joined yet? <a class="link" routerLink="/auth">Join now.</a></div>
</div>